*{
    list-style: none;
    text-decoration:none;
}
.hheader{
    background-color: #fff;
    height: 60px;
    width: 70%;
    border: 1px solid #e5e5e5;
}
.bbody ol li{
    float: left;
    margin-left: 10px;
    padding: 15px 5px 10px ;

}
.hcontent_body ul li{
    float: left;
    margin-left: 10px;
    padding: 15px 5px 10px ;
    border-bottom:2px solid #c2c2c2;
}

 .hcontent_body{
     margin-top: 1%;
     height: 50px;
     width: 70%;
}
.hcontent_footer{
    text-align: left;
    position: relative;
    height: auto;
    margin-top: 1%;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    width:70%
}
.hcontent ul li{
    margin: 3px;
    padding: 15px 5px 10px 10px;
    border-bottom: 1px solid #ddd;
    line-height: 50px;
}
.page ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.page{
    position: relative;
    bottom: 0;margin-left: 35%;
}
.page ul.pagination li {display: inline;}

.page ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.page ul.pagination li a.active {
    background-color: #349faf;
    color: white;
    border: 1px solid #374faf;
}

.page ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.touxiang{
    width:52px;
    height:52px;
    border-radius:100%;
    overflow:hidden;
}
a{
    color: black;
}
strong{
    color: #3f8bb1;
}
